server:
  port: 8762

eureka:
  instance:
    preferIpAddress: true
    instance-id: ${spring.cloud.client.ip-address}:${server.port}
  client:
    serviceUrl:
      # defaultZone: http://@eureka.user.name@:@eureka.user.password@@localhost:8761/eureka/
      defaultZone: http://@eureka.user.name@:@eureka.user.password@@localhost:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
    healthcheck:
      enabled: false

spring:
  application:
    name: xlogserver
  security:
    user:
      name: @eureka.user.name@
      password: @eureka.user.password@
  cloud:
    config:
      failfast: true
